@model To_do_List.Models.Task

@{
    ViewData["Title"] = "Crear Tareas";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form asp-action="Create">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Nombre de la tarea</label>
            <input asp-for=Name_Task id="Creacion" Value="" class="form-control" type="text" />
        </div>
        <br />
        <div>
            <label>Descripción de la tarea</label>
            <input asp-for=Description_Task id ="Descripcion" Value="" class="form-control" type="text" />
        </div>
        <br />
        <div>
            <label>Tiempo de ejecución</label>
            <input asp-for=Time id="tiempo" Value="" class="form-control" type="number" />
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Crear Tarea</button>
        </div>
    </form>
</div>
